@charset "utf-8";
/*state_wrap*/
.state_wrap{position: relative;}
.state_wrap:after{content: ''; display: block; clear: both;}
.state_box li > a{
	width: calc((100% - 30px)/4);
	box-sizing: border-box;
	display: block;
	float: left; 
	background-color: white; 
	padding: 26px 22px 31px 25px;
	box-shadow: 0 1px 4px 0 #e5e9f2;
	border-radius: 5px;
}
.state_box li+li > a{margin-left: 10px;}
.state_box .state{
	font-size: 14px;
	line-height: 20px;
	color: #999;
}
.state_box span{
	font-size:30px;
	line-height: 33px;
	display: block;
}
.camp_btn{
	position: absolute;
	right: 0;
	bottom: -65px;
	display: block;
 	width: 160px;
	height: 50px;
  	border-radius: 5px;
	background-color: #00dbbf;
	color: white;
	border-style: none;
}
/*state_wrap _ em추가*/
.state_box em{
	position: absolute;
	color: #627efe;
	font-size: 12px;
	font-style: normal;
}
.num{width:80px;}
.infu_name{width:180px}
.price{width:150px;}
.date_camp{width:250px;}
.camp_state{width:70px;}