@charset "utf-8";
@media screen and (max-width:767px){
	
/* 768에서변함  360과정 */
	
/*	#header{background-color: #1f263e}*/
	.header_gnb{margin-right: 10px;}
	.header_gnb li p{color: white}
	.circle_cnt{border: none;}
	#nav{display: none;}
	.breadcrumbs{display: none;}
/*공통내용끝*/
	#main{margin-left: 0; padding: 20px 20px 0;}
	.container{
		padding: 0;
		position: relative;
	}
	.container > div{
		margin: 0 0 20px 0;
		float: none;
		display: block;
		position: relative;
		padding: 0 15px 30px 15px;
		width: 100%;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
}

@media screen and (min-width:768px) and (max-width:1023px){
	
/* 1024에서변함  768과정 */
	
/*	#header{background-color: blue;}*/
	#main{margin-left: 100px;}
	.header_gnb{margin-right:25px;}
	#nav{width: 100px;}
	.logo{display: block; height: 80px;}
	.logo > a{width: 100px; height: 70px;}
	.logo > a > img{width: 94px;}
	.nav_on > a::after{display: none;}
	.nav_gnb > li{position: relative; height: 90px;}
	.nav_gnb > li > a{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		font-size: 11px;
		line-height: 20px;
		text-align: center;
		padding: 0 19px;
	}
	.nav_gnb > li.setting{height: 130px;}
	.setting > a{padding: 20px 39px !important ;}
	.setting > a::before{
		content: '';
		background: url(https://s3.ap-northeast-2.amazonaws.com/spin-protocol-resource/resources/images/icon-settings/ic-settings%402x.png)no-repeat;
		background-size: 35px;
		width: 35px;
		height: 35px;
		top: -17px;
		left: 33px;
	}
/*공통내용끝*/
	.container{
		padding: 0 0 200px 0;
		position: relative;
	}
	.container > div{
		margin: 0 0 20px 0;
		float: none;
		display: block;
		position: relative;
		top: 50px; left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 1px 4px 0 #e5e9f2;
		padding: 0 30px 30px 30px;
		width: 93%;
	}

}

@media screen and (min-width:1024px) and (max-width:1599px){
	
	/* 1600에서변함  1024과정 */
	
/*	#header{background-color: yellow;}*/
	.header_gnb{margin-right:25px;}
/*공통내용끝*/
	.container{
		padding: 0 0 200px 0;
		position: relative;
	}
	.container > div{
		margin: 0 0 20px 0;
		float: none;
		display: block;
		position: relative;
		top: 50px; left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 1px 4px 0 #e5e9f2;
	}
}


@media screen and (min-width:1600px) { /*기본*/

}